body {
  display: flex;
  min-height: 100%;
  background: hsl(0, 0%, 8%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo_junto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.concard {
  margin-top: 20px;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.contener {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  width: 300px;
  height: 500px;
  border-radius: 15px;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 5px;
}
.imgen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  /*border: 5px solid white;*/ /* Puedes ajustar el grosor y el color del borde según tus preferencias */
}

.imgen img {
  border-radius: 50%; /* Establece el radio de borde para hacer la imagen redonda */
  width: 70px; /* Ancho de la imagen */
  height: 70px; /* Altura de la imagen */
}

.letras1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.letras1 h1 {
  font-family: "Inter", sans-serif;
  margin-top: 0; /* Elimina el margen superior */
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}
.letras1 h2 {
  font-family: "Inter", sans-serif;
  color: hsl(75, 94%, 57%);
  font-size: 12px;
}
.letras1 p {
  color: hsl(0, 0%, 100%);
  font-family: "Inter-regular", sans-serif;
  font-weight: normal;
  font-size: 11px;
}
.botones {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
}
.boton1 {
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 14px;
  font-family: "Inter light Italic", sans-serif;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 20%); /* Color de fondo */
  width: 250px;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
}
.boton1:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
}
.boton_cart {
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: "Inter light Italic", sans-serif;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 20%); /* Color de fondo */
  width: 200px;
  height: 60px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton_cart:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
}
